.main {
  background-color: rgb(226, 17, 17);
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding: 0 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: rgb(107, 107, 107);
}

.song {
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

.albumcover {
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: move6 1s infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) { animation-delay: 0.2s; }
.load:nth-child(2) { animation-delay: 0.4s; }
.load:nth-child(3) { animation-delay: 0.6s; }

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
}

@keyframes move6 {
  0% { height: 0.2em; }
  25% { height: 0.7em; }
  50% { height: 1.5em; }
  100% { height: 0.2em; }
}
