@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: "Press Start 2P", monospace;
}

* {
  box-sizing: border-box;
  image-rendering: pixelated;
}

/* Main content area centering */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* for the difficulty  */

.retro-panel {
  background: #000;
  border: 2px solid #fff;
  padding: 6px 8px;
  box-shadow:
    2px 2px 0 #000,
    4px 4px 0 #fff;
}

.retro-label {
  display: block;
  font-family: "Press Start 2P", monospace;
  font-size: 8px;
  margin-bottom: 6px;
  color: #fff;
}

.retro-select {
  font-family: "Press Start 2P", monospace;
  font-size: 8px;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 4px 6px;
  cursor: pointer;
  
}

.retro-select:focus {
  outline: none;
  background: #fff;
  color: #000;
}




/* Retro panel styling */


/* Button styling */
.retro-button {
  font-family: "Press Start 2P", monospace;
  font-size: 11px;
  margin-top: 12px;
  margin-left: 4px;

  background: #000;
  color: #fff;

  padding: 6px 10px;

  border: 2px solid #a5a1a1;
  box-shadow:
    2px 2px 0 #000,
    4px 4px 0 #b4b3b3;

  cursor: pointer;
  image-rendering: pixelated;
}

.retro-button:hover {
  background: #fff;
  color: #000;
}

.retro-button:active {
  box-shadow:
    1px 1px 0 #000,
    2px 2px 0 #fff;
  transform: translate(2px, 2px);
}


/* Disabled button */
.retro-button.disabled {
  border-color: #666;
  color: #666;
  cursor: not-allowed;
}

