@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: "Press Start 2P", monospace;
}

* {
  box-sizing: border-box;
  image-rendering: pixelated;
}

/* Main content area centering */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* for the difficulty  */

.retro-panel {
  background: #000;
  border: 2px solid #434141;
  padding: 6px 8px;
  box-shadow:
    2px 2px 0 #000,
    4px 4px 0 #fff;
}

.retro-label {
  display: block;
  font-family: "Press Start 2P", monospace;
  font-size: 8px;
  margin-bottom: 6px;
  color: #fff;
}

.retro-select {
  font-family: "Press Start 2P", monospace;
  font-size: 8px;
  background: #000;
  color: #fff;
  border: 2px solid #666464;
  padding: 4px 6px;
  cursor: pointer;
  
}

.retro-select:focus {
  outline: none;
  background: #fff;
  color: #000;
}




/* Retro panel styling */


/* Button styling */
.retro-button {
  font-family: "Press Start 2P", monospace;
  font-size: 11px;
  margin-top: 37px;
  margin-left: 4px;
  margin: 7px;

  background: #000;
  color: #fff;

  padding: 17px 10px;

  border: 2px solid #a5a1a1;
  box-shadow:
    2px 2px 0 #000,
    4px 4px 0 #b4b3b3;

  cursor: pointer;
  image-rendering: pixelated;
}

.retro-button:hover {
  background: #fff;
  color: #000;
}

.retro-button:active {
  box-shadow:
    1px 1px 0 #000,
    2px 2px 0 #fff;
  transform: translate(2px, 2px);
}


/* Disabled button */
.retro-button.disabled {
  border-color: #666;
  color: #666;
  cursor: not-allowed;
}


/* From Uiverse.io by ZacharyCrespin */ 
@keyframes square-animation {
 0% {
  left: 0;
  top: 0;
 }

 10.5% {
  left: 0;
  top: 0;
 }

 12.5% {
  left: 32px;
  top: 0;
 }

 23% {
  left: 32px;
  top: 0;
 }

 25% {
  left: 64px;
  top: 0;
 }

 35.5% {
  left: 64px;
  top: 0;
 }

 37.5% {
  left: 64px;
  top: 32px;
 }

 48% {
  left: 64px;
  top: 32px;
 }

 50% {
  left: 32px;
  top: 32px;
 }

 60.5% {
  left: 32px;
  top: 32px;
 }

 62.5% {
  left: 32px;
  top: 64px;
 }

 73% {
  left: 32px;
  top: 64px;
 }

 75% {
  left: 0;
  top: 64px;
 }

 85.5% {
  left: 0;
  top: 64px;
 }

 87.5% {
  left: 0;
  top: 32px;
 }

 98% {
  left: 0;
  top: 32px;
 }

 100% {
  left: 0;
  top: 0;
 }
}


.loader {
  position: absolute;
  top: 49px;
  right: 27px;
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
}


.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 0;
  background: white;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
 animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
 animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
 animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
 animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
 animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
 animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
 animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
 animation-delay: -10s;
}
.techstack-section {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  filter: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.4));
}

